* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.padding-inline {
  padding-inline: 50px;
}

/*  */
body {
  font-family: "Open Sans", sans-serif;
}

.headerContent {
  padding: 75px 50px 72px 50px;
  background-color: #edfbff;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
}

.navLink {
  padding: 16px 65px;
  color: #000;
  font-weight: bold;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.5s;
}

.navLink:hover{
  color:#fff;
  background-color: rgb(255, 82, 193);
  
}

.productInformationContainer {
  margin: 72px auto 0 auto;
}

.productInformationContent {
  max-width: 1270px;
  margin: 0 auto;
  gap: 54px;
}

.productInformation {
  max-width: 536px;
}

.productInformation h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.productInformation p {
  font-size: 18px;
  margin: 26px auto 50px auto;
}

.informationImageContainer {
  max-width: 680px;
}

.informationCTA {
  padding: 17px 70px;
  font-size: 20px;
  background-color: #ff52c1;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  border: none;
}

.sameSection {
  gap: 180px;
  padding: 0 30px;
  margin: 40px auto;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.07);
}

.sectionWidth {
  max-width: 1232px;
}

.imageWidth {
  max-width: 440px;
}

.content {
  max-width: 520px;
}

.third-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

.CTAContent h3 {
  font-size: 32px;
  margin-bottom: 32px;
}

.contentContainer {
  max-width: 500px;
}

.CTAContent {
  max-width: 800px;
  margin: 50px auto;
  color: #000;
  text-align: center;
  margin-top: -400px;
  padding: 50px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.footer {
  color: #fff;
  background-color: #00252e;
  margin-top: 300px;
  padding: 250px 50px 50px 50px;
}

.footerContent {
  max-width: 1400px;
  margin: 0 auto;
  gap: 100px;
  align-items: start;
}

.contact i {
  margin-right: 16px;
}

.footerAddress {
  margin: 24px 0 24px 0;
}

.contact {
  margin-bottom: 16px;
}

.footerSocialLink {
  flex-direction: column;
  gap: 100px;
  align-items: flex-start;
}

.socialLinks {
  gap: 12px;
}

.socialLink {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.socialLink:hover {
  border: 1px solid #ff52c1;
}

.socialLink:hover i {
  color: #ff52c1;
}

.socialLink i {
  color: #fff;
}

.footerLink1 a,
.footerLink2 a {
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  padding-bottom: 3px;
  position: relative;
}

.footerLink1 a::after,
.footerLink2 a::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: width 0.5s;
}

.footerLink1 a:hover::after,
.footerLink2 a:hover::after {
  width: 100%;
}

.footerLink1,
.footerLink2 {
  list-style: none;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .productInformation h1 {
    font-size: 26px;
  }

  .productInformation p {
    font-size: 16px;
  }

  .informationCTA {
    padding: 15px 30px;
  }

  .informationImageContainer {
    max-width: 800px;
    width: 100%;
  }

  .informationImage {
    width: 100%;
  }

  .growTogetherContent,
  .conversationContent,
  .userSectionContent {
    gap: 60px;
  }

  .content,
  .productInformation,
  .conversation_Section_Content,
  .userContent {
    max-width: 450px;
    width: 100%;
  }

  .footerContent {
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .flex {
    flex-wrap: wrap;
    align-items: center;
  }

  .navbarLogo {
    max-width: 150px;
  }

  .navLogo {
    width: 100%;
  }

  .navLink {
    padding: 10px 25px;
    border-radius: 20px;
  }

  .productInformation {
    margin: 0 auto;
    text-align: center;
  }

  .productInformation p {
    font-size: 18px;
  }

  .informationCTA {
    padding: 15px 50px;
  }

  .headerContent {
    padding: 50px 30px;
    margin-bottom: 70px;
  }

  .CTAContainer {
    margin: 0 auto;
  }

  .CTAContent {
    padding: 30px 15px;
  }

  .CTAContent h3 {
    font-size: 28px;
  }

  .userSectionContainer {
    padding: 150px 50px 0 50px;
  }

  .content,
  .userContent,
  .conversation_Section_Content {
    margin-bottom: 50px;
    text-align: center;
  }

  .growTogetherContainer,
  .userSectionContainer,
  .conversationContainer {
    padding: 0 30px;
    margin: 0 auto;
  }

  .productInformation h1 {
    font-size: 30px;
  }

  .growTogetherContent,
  .userSectionContent {
    flex-direction: column-reverse;
  }

  .footerContent {
    flex-direction: column;
  }

  .footerSocialLink,
  .footerLink1,
  .footerLink2,
  .footerContent {
    align-items: baseline;
  }

  .footerSocialLink {
    gap: 30px;
  }

  .socialLinks {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .headerContent {
    padding: 20px;
  }

  .productInformationContainer {
    margin-top: 40px;
  }

  .navbarLogo {
    width: 100px;
  }

  .navLink {
    padding: 5px 17px;
  }

  .productInformation {
    max-width: 304px;
  }

  .productInformation h1,
  .CTAContent h3 {
    font-size: 24px;
  }

  .productInformation p {
    font-size: 16px;
  }

  .growTogetherContainer,
  .userSectionContainer,
  .conversationContainer {
    max-width: 450px;
  }

  .content p,
  .conversationContent p,
  .userContent p {
    font-size: 14px;
  }

  .informationCTA {
    padding: 11px 30px;
    font-size: 14px;
  }

  .content,
  .conversationContent,
  .userContent {
    text-align: center;
  }

  .content h3,
  .conversationContent h3,
  .userContent h3 {
    font-size: 20px;
  }

  .userSectionContent {
    margin: 0 auto -120px auto;
  }

  .CTAContent {
    margin: -600px auto 80px auto;
  }

  .CTAContent h3 {
    font-size: 18px;
  }

  .footer {
    padding: 500px 20px 30px 20px;
  }
}
